*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#top{
    text-align: center;
    font-size: 30px;
    color: rgb(204, 222, 228);
    background: #000;
}
#start,#rest{
margin-top: 10px;

}
#quiz{
    padding: 2rem;
    font-size: 20px;
    color:white;
    background-color: rgb(9, 9, 17);
}
.hiden{
    display: none;
}
.timer{
    position: fixed;
    right: 12px; 
    top:100px;
    background-color: black;
    color: white;
    border-radius: 7px;
     box-shadow: 1px 1px 6px 2px yellow;
     padding: 1rem;
}
#quiz h2{
    margin-left: 19px;
}
#start,#rest{
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    font-weight: bold;
   
    margin-right: 10px;
}
#start:hover{
    background-color: black;
    color: white;
     box-shadow: 1px 1px 5px 2px yellow;
}
#rest:hover{
    background-color: black;
    color: white;
     box-shadow: 1px 1px 5px 2px yellow;
}
#resalt{
 margin-left: 50px;
}
.container-top{
    margin: 10px 0;
   background-color: rgb(35, 37, 180);
   
}
.container{
margin: 10px 0;
background-color: rgb(35, 37, 180);
border-left: 10px solid tomato;
}
.container label:hover{
 color:rgb(255,99,71);
transition: all 0.3s ease-in-out;
font-size: larger;
font-weight: bold;
}
.container p,div{
    padding: 5px;
    border-radius: 6px;
}
.btn{
    padding: 20px 35px;
    background-color: rgb(252, 248, 248);
    color:rgb(7, 6, 6);
    border-radius: 6px;
    font-size: large;
    cursor: pointer;
}
.btn:hover{
 background: #000;
 color: white;
 transition: all 0.5s ease-in-out;
 box-shadow: 1px 1px 6px 2px yellow;
}
#show__res{
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
}
#score{
    margin-left: 10px;
    font-size: 25px;
}
input[type='radio']{
    accent-color: red;;
}
