*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#top{
    text-align: center;
    /* padding: 0rem 2rem 2rem 2rem; */
    font-size: 30px;
    color: rgb(204, 214, 218);
}
#start,#rest{
margin-top: 10px;
}
#quiz{
    padding: 2rem;
    font-size: 20px;
    color:white;
    background-color: rgb(85, 85, 252);
}
.hiden{
    display: none;
}
.timer{
    position: fixed;
    right: 10px; 
    top:100px;
    background-color: black;
    color: white;
    border-radius: 7px;
}
#quiz h2{
    margin-left: 19px;
}
#start,#rest{
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    font-weight: bold;
   
    margin-right: 10px;
}
#start:hover{
    background-color: black;
    color: white;
}
#rest:hover{
    background-color: black;
    color: white;
}
#resalt{
 margin-left: 50px;
}
.container{
margin: 10px 0;
background-color: rgb(230, 69, 69);
}
.container p,div{
    padding: 5px;
    border-radius: 6px;
}
.btn{
    padding: 20px 35px;
    background-color: rgb(230, 69, 69);
    color:white;
    border-radius: 6px;
    font-size: large;
}
#show__res{
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
}
#score{
    margin-left: 10px;
    font-size: 25px;
}